*{
}
.collageView{
  margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
}

.imageView{
  margin:20px
  
}
.inputStyle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100px;
}

.inputStyle input{
  width: 40%;
  height: 20px;
}
.ModalView{
  position: fixed;
  display: flex;
  align-items: "center";
  background-color: "rgba(0,0,0,0.6)";
  margin-left: 400px
};
.suggestionContainer{
   display: flex;
   justify-content: center;
   background-color: white;
   position: fixed;
   z-index: 10;
}

.suggestionBox{
    color: 'red';
    background-color: white;
    width: 41% ;
    display: flex;
    flex-direction: column;
    margin-left: 380px;
    z-index: 11;
}
.suggestion{
  color:red;
  height: 2px;
  z-index: 100;
  width:100%
}